// imports
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700&display=swap');

// font
$primary-font: 'Titillium Web', sans-serif;

// font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 900;

// transitions
$fast: 0.2s ease-in-out;
$slow: 0.5s ease-in-out;